{
  "env": {
    "production": {
      "presets": [
        "env",
        "stage-3",
        "react"
      ],
      "plugins": [
        [
          "lodash",
          "direct-import",
          [
            "material-ui",
            "material-ui-icons",
            "react-apollo",
            "react-i18next",
            "react-router",
            "react-router-dom",
            "react-redux",
            "redux",
          ]
        ]
      ]
    }
  }
}